astor==0.8.1
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
funcsigs==1.0.2
gast==0.4.0
graphviz==0.14.1
idna==2.10
isort==4.3.21
jieba==0.42.1
joblib==0.16.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
nltk==3.5
numpy==1.19.1
objgraph==3.4.1
opencv-python==4.4.0.42
paddlepaddle==1.8.4
pathlib==1.0.1
Pillow==7.2.0
prettytable==0.7.2
protobuf==3.13.0
pycodestyle==2.6.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rarfile==4.0
regex==2020.7.14
requests==2.24.0
scipy==1.5.2
six==1.15.0
toml==0.10.1
tqdm==4.48.2
typed-ast==1.4.1
urllib3==1.25.10
wrapt==1.12.1
